@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Spline+Sans:wght@300;400;500;600;700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Spline Sans', sans-serif;
}
.word-wraper {
    border: 1px solid red;
    width: 700px;
    display: inline-block;
    padding-left: 85px;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    float: left;
}

h1 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

span {
    color: orange;
}

h3 {
    margin: 0px;
    font-size: 30px;
    font-weight: 400;
}

p {
    margin: 0px;
    font-size: 25px;
    font-weight: 200;
    text-align: justify;
}
.img-wraper {
    border: 3px solid blue;
    width: 500px;
    float: right;
    padding-right: 35px;
}

img {
    height: 100%;
    width: 100%;
}
button {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    background-color: #ff9900;
    margin: 43px 0px;
    background-image: linear-gradient(178deg, #ee0606, transparent);
    color: wheat;
}
button:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}